<div class="ui form">
  <%= form_tag search_authors_path do %>
    <div class="inline field">
      <select class="ui dropdown" name="column">
        <option value="last_name">Last Name</option>
        <option value="first_name">First Name</option>
      </select>

      <div class="ui icon input">
        <input type="text" name="search" placeholder="Search" align="bottom">

        <button class="circular ui icon button left-margin-1">
          <i class="search icon"></i>
        </button>
      </div>
    </div>
  <% end %>
</div>

<table class="ui fixed compact table">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.last_name %></td>
        <td><%= author.first_name %></td>
        <td>
          <%= link_to edit_admin_author_path(author), class: 'circular ui icon button' do %>
            <i class="edit icon"></i>
          <% end %>

          <%= link_to admin_author_path(author), method: :delete, class: 'circular ui icon button', data: {confirm: 'Are you sure you want to proceed?'} do %>
            <i class="trash icon"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="ui pagination menu">
  <%= link_to admin_authors_path(page: @previous_page), class: 'icon item center' do %>
    <i class="left arrow icon"></i>
  <% end %>

  <% @page_count.times do |i| %>
    <%= link_to "#{i + 1}", admin_authors_path(page: i + 1), class: "item #{'active' if @current_page - 1 == i}" %>
  <% end %>

  <%= link_to admin_authors_path(page: @next_page), class: 'icon item center' do %>
    <i class="right arrow icon"></i>
  <% end %>
</div>
