<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :publisher_id %>
    <%= form.text_field :publisher_id, id: :book_publisher_id %>
  </div>

  <div class="field">
    <%= form.label :publication_address %>
    <%= form.text_field :publication_address, id: :book_publication_address %>
  </div>

  <div class="field">
    <%= form.label :publication_year %>
    <%= form.number_field :publication_year, id: :book_publication_year %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :book_description %>
  </div>

  <div class="field">
    <%= form.label :edition %>
    <%= form.text_field :edition, id: :book_edition %>
  </div>

  <div class="field">
    <%= form.label :series %>
    <%= form.text_field :series, id: :book_series %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: :book_isbn %>
  </div>

  <div class="field">
    <%= form.label :call_number %>
    <%= form.text_field :call_number, id: :book_call_number %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :book_language %>
  </div>

  <div class="field">
    <%= form.label :page_count %>
    <%= form.number_field :page_count, id: :book_page_count %>
  </div>

  <div class="field">
    <%= form.label :book_format %>
    <%= form.text_field :book_format, id: :book_book_format %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.text_field :cover, id: :book_cover %>
  </div>

  <div class="field">
    <%= form.label :total_count %>
    <%= form.number_field :total_count, id: :book_total_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
