<div class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">Loan Period</div>

  <div class="image content">
    <div class="description">
      <div class="ui header">How long would you like to borrow that?</div>

      <div class="ui input">
        <%= form_tag @book, id: 'loan' do %>
          <div class="ui label">
            From
            <input type="date" name="from">
          </div>

          <div class="ui label">
            To
            <input type="date" name="to">
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <button type="submit" form="loan" class="ui positive right labeled icon button">
      Reserve
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>

<div class="ui items">
  <div class="item">
    <div class="image">
      <%= image_tag @book.cover.url %>
      <button id="reserve" class="ui fluid positive compact labeled icon button top-margin-1">
        <i class="check icon"></i>
        Reserve
      </button>
    </div>

    <div class="content">
      <a class="header"><%= @book.title %></a>

      <div class="meta">
        <span>
          by <%= raw @authors_link.join(', ') %>
        </span>
      </div>

      <div class="description">
        <p>
          <% @score.times do %>
            <i class="yellow star no-margin icon"></i>
          <% end %>

          <% (5 - @score).times do %>
            <i class="star no-margin icon"></i>
          <% end %>
        </p>
        <p><%= @book.description %></p>

        <div class="details">
          <p><%= "#{@book.book_format}, #{@book.page_count} pages" %></p>
          <p><%= "Published by #{@book.publisher.name}" %></p>

          <div class="ui grid top-margin-1">
            <div class="row no-padding">
              <div class="four wide column strong">Publication Year</div>
              <div class="twelve wide column"><%= @book.publication_year %></div>
            </div>

            <div class="row no-padding">
              <div class="four wide column strong">Publication Address</div>
              <div class="twelve wide column"><%= @book.publication_address %></div>
            </div>

            <div class="row no-padding">
              <div class="four wide column strong">ISBN</div>
              <div class="twelve wide column"><%= @book.isbn %></div>
            </div>

            <div class="row no-padding">
              <div class="four wide column strong">Call Number</div>
              <div class="twelve wide column"><%= @book.call_number %></div>
            </div>

            <div class="row no-padding">
              <div class="four wide column strong">Language</div>
              <div class="twelve wide column"><%= @book.language %></div>
            </div>

            <div class="row no-padding">
              <div class="four wide column strong">Edition</div>
              <div class="twelve wide column"><%= @book.edition %></div>
            </div>

            <div class="row no-padding">
              <div class="four wide column strong">Series</div>
              <div class="twelve wide column"><%= @book.series %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui comments">
  <h3 class="ui dividing header">Reviews</h3>

  <% if @reviews.present? %>
    <% @reviews.each do |review| %>
      <div class="comment">
        <a class="avatar">
          <%= image_tag review.user.avatar.url %>
        </a>

        <div class="content">
          <span class="author"><%= "#{review.user.first_name} #{review.user.last_name}" %></span>

          <div class="metadata">
            <div class="date"><%= time_ago_in_words(review.created_at) %> ago</div>

            <div class="rating">
              <% review.rating.times do %>
                <i class="yellow small star icon no-margin"></i>
              <% end %>
            </div>
          </div>

          <div class="text">
            <%= review.body %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3 class="ui center aligned disabled icon header">
      <i class="folder open icon"></i>
      <div class="content">
        This book has no reviews yet
      </div>
    </h3>
  <% end %>

  <p class="comment-actions">
    <a href="#" id="review-link">Write a review</a>

    <%= form_tag review_path(@book), class: 'ui reply form', id: 'review-field' do %>
      <div class="field">
        <textarea name="body"></textarea>
      </div>

      <div class="bottom-margin-1">
        Rating:
        <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
      </div>

      <input type="hidden" name="rating" value="3" id="rating">

      <button type="submit" class="ui tiny blue labeled submit icon button">
        <i class="icon edit"></i> Post
      </button>
    <% end %>
  </p>
</div>

<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>

  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <div class="comment">
        <a class="avatar">
          <%= image_tag comment.user.avatar.url %>
        </a>

        <div class="content">
          <a class="author"><%= "#{comment.user.first_name} #{comment.user.last_name}" %></a>

          <div class="metadata">
            <span class="date"><%= time_ago_in_words(comment.created_at) %> ago</span>
          </div>

          <div class="text">
            <%= comment.body %>
          </div>

          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>

        <% if comment.comments.present? %>
          <div class="comments">
            <% comment.comments.each do |reply| %>
              <div class="comment">
                <a class="avatar">
                  <%= image_tag reply.user.avatar.url %>
                </a>

                <div class="content">
                  <a class="author"><%= "#{reply.user.first_name} #{reply.user.last_name}" %></a>

                  <div class="metadata">
                    <span class="date"><%= time_ago_in_words(reply.created_at) %> ago</span>
                  </div>

                  <div class="text">
                    <%= reply.body %>
                  </div>

                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h3 class="ui center aligned disabled icon header">
      <i class="comments icon"></i>
      <div class="content">
        This book has no comments yet
      </div>
    </h3>
  <% end %>

  <%= form_tag comment_path(@book), class: 'ui reply form' do %>
    <div class="field">
      <textarea name="body"></textarea>
    </div>

    <button type="submit" class="ui tiny blue labeled submit icon button">
      <i class="icon edit"></i> Post
    </button>
  <% end %>
</div>
