<!DOCTYPE html>
<html>
  <head>
    <title>FEUTECH Library System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui left fixed inverted blue vertical menu">
      <div class="item">
        <%= image_tag 'sidebar-logo', class: 'ui image' %>
      </div>

      <% if current_user %>
        <%= link_to 'Home', root_path, class: 'item' %>
        <%= link_to 'Dashboard', dashboard_path, class: 'item' %>
        <a class="item">OPAC</a>
        <div class="ui left pointing dropdown link item">
          Resources
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="ui left pointing dropdown link item">
              <i class="book icon"></i> Books
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item"><i class="list icon"></i> List</a>
                <a class="item"><i class="plus icon"></i> New</a>
              </div>
            </div>

            <div class="ui left pointing dropdown link item">
              <i class="user icon"></i> Authors
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item"><i class="list icon"></i> List</a>
                <a class="item"><i class="plus icon"></i> New</a>
              </div>
            </div>

            <div class="ui left pointing dropdown link item">
              <i class="user icon"></i> Publishers
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item"><i class="list icon"></i> List</a>
                <a class="item"><i class="plus icon"></i> New</a>
              </div>
            </div>
          </div>
        </div>
        <%= link_to 'Reservations', reservations_path, class: 'item' %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'item' %>
      <% else %>
        <%= link_to 'Home', root_path, class: 'item' %>
        <a class="item">OPAC</a>
        <%= link_to 'Log In', new_user_session_path, class: 'item' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'item' %>
      <% end %>

    </div>

    <div class="left pusher">
      <div class="ui container padding-2">
      	<%= render 'partials/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
